#link-pagina{
    justify-content: space-between;
    margin: 2rem 0 0 1rem;;
}

#link-pagina_txt{

}

#link-pagina_produtos{
    text-decoration: none;
    background-image: url('../../../public/IMG/seta.svg');
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position:78% center;
    width: 11rem;
    color: #202020;
}

#link-pagina_produtos:hover{   
    color: #38b6ff;
}