#link-pagina{
    margin: 2rem 1rem;
}

#link-pagina_produtos{
    text-decoration: none;
    background-image: url('../../../public/IMG/seta.svg');
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position:78% center;
    width: 8rem;
    color: #202020;
}

#link-pagina_produtos:hover{   
    color: #38b6ff;
}

#link-pagina_txt{
    font-size: 1rem;
    text-transform: uppercase;
}



.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    font-size: 1rem;
    padding-right: .7rem;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: #202020;
    padding-bottom: 1.2rem;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #202020;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }