#footer{
    background-color: #202020;
    color: #b2b2b2;
}

#link-footer{
    padding: 0 0 1rem 0;
    border-bottom: .10px solid #7a7a7a;
}

.dev{
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.signature{
    font-size: .6rem;
}

#footer-list{
    list-style: none;

}

#contato-footer{
    text-decoration: none;
    color: #cbc8c8;
    font-size: .96rem;
}

#footer-contato_titulo{
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: 4px;
}