#btn-produto{
    text-decoration: none;
    background-color: #202020;
    padding: .6rem;
    color: #fff;
    border-radius: 0.2rem;
    width: 10rem;
    font-size: 1.1rem;
    border: none;
}

#btn-produto:hover{
    background-color: #090808;
}

#card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#card-produto{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

#img-produto{
    width: 10rem;
    border-radius: .8rem;
}

#card-title{
    color: #202020;
    font-size: 1rem;
}

#card-text{
    font-size: 1.4rem;
    color: #1b1b1b;
}

#card-produto:hover{
    transform: scale(1.02);
    transition: all .5s;
}

@media only screen and (min-width: 800px) {
    #img-produto{
        width: 100%;
    }

    #btn-produto{
        width: 100%;
    }
}

