
#img-signUp{
    height: 91.4vh;
    width: 50vw;
    background-image: url('../../../public/IMG/cadastro/img-cadastro.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

#btn-signUp:hover{
    background-color: #000000;
}

#error{
    color: #f95252;
}

#bg-color_error{
    color:red;
}

#btn-password{
    outline: none;
    border: 1px solid #d3d3d3;
    padding: 0 1rem;
}

#btn-password:hover{
    background-color: #c9c8c8;
}
