#primeiro_banner{
    background-color: #ffd359;
    border-radius: .8rem;
    height: 9rem;
}

.primeiro-banner_titulo{
   font-size: 1.5rem;
}

#primeiro-banner_image{
    position:relative;
    height: 10rem;
    margin: -1rem 1rem 1rem 1rem;   
}

.primeiro-banner_titulo{
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .1rem;
    margin: 1rem 0 0 1rem;
}

#primeiro-banner_texto{
    margin: 0 0 0 1rem;
    color: white;
}

#primeiro-banner_btn{
   color: #ffffff;
   background-color: #202020;
   text-decoration: none;
   border-radius: .5rem;
   padding: .4rem;
   width: 90%;
}
